<% @count = 0 %>
<% @topic.comments.each do |comment| %>
	<% @count = @count + 1 %>
	<div class="panel panel-default">
		<div id="comment">
			Comment #<%= @count %>
		</div>
		<% if( (current_user.id == comment.user.id || current_user.admin?) && !comment.dstatus ) %>
			<div class="btn-group" style="float: right; margin-right: 17px;">
			   	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" >
					<span class="caret"></span>
					</button>		
			 	<ul class="dropdown-menu" role="menu">
				    <li>
						<a href data-toggle="modal" 
						   data-target="#<%= comment.id %>edit"
						   <i class="fa fa-pencil"></i> Edit
						</a>
				    </li>
				    <li>
				    	<a href data-toggle="modal" 
						   data-target="#<%= comment.id%>delete">
						   <i class="fa fa-trash-o"></i> Delete
						</a>
		            </li>
			  	</ul>
			</div>
		<% end %>
		
	 	<div class="panel-body" style="margin-top: 2.5em">
	 		<% if comment.dstatus %>
				<div style="color: #CCC; margin-bottom: 2em;">This comment has been deleted.</div>
	 		<% else%>
        		<div class="well" ><%=comment.content%></div>
               	<% end %>
        	<br/>
	  	</div>
	  	<div class="panel-footer">
	  	<div style="margin-top: 5px;">
		  	by <%= link_to comment.user.name, comment.user %> <br/>
		    <div style="color: #bbb;">Posted At <%= comment.created_at.time.localtime.to_formatted_s(:db)%></div>
	    </div>
	  </div>
	</div>

	<!-- delete comment Modal -->
	<div class="modal fade" id="<%= comment.id %>delete" tabindex="-65" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Delete comment</h4>
	      </div>
	      <div class="modal-body">
	       	Are you sure?
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	        <%= link_to [@topic, comment], method: :delete, class: "btn btn-danger" do %>
									 Delete
			<% end %>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- edit Modal -->
	<div class="modal fade" id="<%= comment.id %>edit" tabindex="-65" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Edit comment</h4>
	      </div>
	      <div class="modal-body">
	      	<%= form_for [@topic, comment]  do |f| %>
	       		<div class="field">
	    		<%= f.label 'Edit Comment' %>
	    		<%= f.text_area :content, class:"form-control" %>
	  		</div>
	      </div>
	      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<%= f.submit "Submit", class: "btn btn-primary", style: "width :auto;" %>
	        <% end %>
	      </div>
	    </div>
	  </div>
	</div>
<% end %>