<ol class="breadcrumb">
  <li><%= link_to 'Home', boards_path %></li> /
  <li><%= link_to @board.title, @board %></li> /
  <li><%= link_to @topic.title, @topic %>
</ol><p id="notice"><%= notice %></p>
 
<div class="panel panel-default">
  	<div class="panel-heading">
	    <h3 class="panel-title"><%= @topic.title %>
			<div class="delete-post-btn">
			    <% if(current_user.id == @topic.user.id || current_user.admin?) %>
					<div class="btn-group" style="float: right;">
					   	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" >
    						<span class="caret"></span>
  						</button>		
					  <ul class="dropdown-menu" role="menu">
					    <li><%= link_to "Edit", edit_board_topic_path(@board, @topic)%></li>
					    <li><%= link_to "Delete",  @topic, method: :delete,
					                                  data: { confirm: "Are you sure?" } %></li>
					  </ul>
					</li>
				<% end %>
			</div>
		</h3>
		<p>Tags: <%= raw @topic.keyword_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
 	 </div>
  	<div class="panel-body" style="margin-top: 1em; margin-bottom: 0.5em;">
    	<%= @topic.subtitle %>
  	</div>
    <div class="panel-footer">
	    <div style="margin-top: 5px;">
			by <%= link_to @topic.user.name, @topic.user %> <br />
		   	<div style="color: #bbb;">Posted at <%= @topic.created_at.time.localtime.to_formatted_s(:db)%></div>
	    </div>
    </div>
</div>
<% @count = 0 %>
<% @topic.comments.each do |comment| %>
	<% @count = @count + 1 %>
	<div class="panel panel-default">
		<div id="comment">
			Comment #<%= @count %>
		</div>
		<% if(current_user.id == comment.user.id || current_user.admin?) %>
					<div class="btn-group" style="float: right;">
					   	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" >
    						<span class="caret"></span>
  						</button>		
					 	<ul class="dropdown-menu" role="menu">
						 	<div id='basic-modal'>
							    <li><%= link_to "Edit", [@topic, comment], class: 'basic' %></li>
							</div>
						    <li><%= link_to "Delete", [@topic, comment], method: :delete,
				                          data: { confirm: "You sure?" }%></li>
					  	</ul>
					</div>
				<% end %>
		
	 	<div class="panel-body" style="margin-bottom: 1em; margin-top: 2.5em">
        	<%=comment.content%>
        	<br/>
	  	</div>
	  	<div class="panel-footer">
	  	<div style="margin-top: 5px;">
		  	by <%= link_to comment.user.name, comment.user %> <br/>
		    <div style="color: #bbb;">Posted At <%= comment.created_at.time.localtime.to_formatted_s(:db)%></div>
	    </div>
	  </div>
	</div>

	<!-- This is modal for edit comment-->
	<div id="basic-modal-content" title="Edit comment">	
			
		<%= form_for([@topic, comment]) do |f| %>
	  		<div class="field">
	    		<%= f.label 'Edit Comment' %>
	    		<%= f.text_area :content %>
	  		</div>
	   		<div class="actions" style="text-align: center;">
	    		<%= f.submit "Submit", class: "btn btn-primary"%>
	  		</div>
		<% end %>
			
		<div>
			Press ESC to cancel editing.
		</div>
	</div>

<% end %>

<%= form_for([@topic, @topic.comments.build]) do |f| %>
  <div class="field">
    <%= f.label 'Comment' %>
    <%= f.text_area :content %>
  </div>
   <div class="actions" style="text-align: center;">
    <%= f.submit 'Comment',class: "btn btn-primary"%>
  </div>
<% end %>







