<% provide(:title, @user.name) %>
<div class="row profile">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>


	<div class="span8">
	    <% if @user.topics.any? %>
	      <h3>Topics (<%= @user.topics.count %>)</h3>
	      <%= will_paginate @topics, renderer: BootstrapPagination::Rails %>
	      <ol class="topics">
	        <%= render @topics %>
	      </ol>
	      <%= will_paginate @topics, renderer: BootstrapPagination::Rails %>
	    <% end %>
  	</div>
</div>