<% provide(:title, @user.name) %>
<div class="row profile">
    <div class="col-md-4">
	    <h1>
	    	<%= gravatar_for @user %>
	        <%= @user.name %>
	      </h1>
    </div>

	<div class="col-md-4 col-md-offset-1">
	    <% if @user.topics.any? %>
	      <h3>Topics (<%= @user.topics.count %>)</h3>
	      <%= will_paginate @topics, renderer: BootstrapPagination::Rails %>
	      <ol class="topics" style=" padding-left: 0px; width: 650px; ">
	        <%= render @topics %>
	      </ol>
	      <%= will_paginate @topics, renderer: BootstrapPagination::Rails %>
	    <% end %>
  	</div>

</div>