<% provide(:title, @user.name) %>
<div class="row profile">
    <div class="col-md-4">
	    		<div id="lightbox" style="float:left; width: 450px; width: 400px; height: auto;">
	    			<ul>
						<li style="border: 1px solid #CCC;">
	    					<%= image_tag @user.avatar.url %>
	    				</li>
	    				<% if( current_user.id == @user.id) %>
							<%= link_to 'Edit profile', edit_user_path(current_user), style: "margin-top: -10px;", class: "btn btn-primary"%> 
						<% end %>
	    			</ul>
	    			
	    		</div>

	      <h1>
	        <div style="text-align: center;"><%= @user.name %></div>
	      </h1>
	      
    </div>

	<% if @user.topics.any? %>

    <div class="col-md-4 col-md-offset-1">
		<ul class="nav nav-tabs">
		  <li class="active"><a href="#topicbar" data-toggle="tab">Topics (<%= @user.topics.count %>)</a></li>
		  <li><a href="#commentbar"  data-toggle="tab">Comments (<%= @user.comments.count %>)</a></li>
		</ul>
		
		<div class="tab-content" id="myTab">
			<div id="topicbar" class="tab-pane fade in active" style="margin-top:10px;">
			      <%= will_paginate @topics, renderer: BootstrapPagination::Rails%>
			      <ol class="topics" style=" padding-left: 0px; width: 650px;" id="topicbar">
			        <%= render @topics %>
			      </ol>
			      <%= will_paginate @topics, renderer: BootstrapPagination::Rails %>
		    </div>

		    <div id="commentbar" class="tab-pane fade" style="margin-top:10px;">
			      <%= will_paginate @comments, renderer: BootstrapPagination::Rails %>
			      <ol class="topics" style=" padding-left: 0px; width: 650px;" id="topicbar">
			        <%= render @comments %>
			      </ol>
			      <%= will_paginate @comments, renderer: BootstrapPagination::Rails %>
		    </div>
		</div>
	<% end %>
  	</div>
<!-- PrefixFree -->
<script src="http://thecodeplayer.com/uploads/js/prefixfree.js" type="text/javascript"></script>
</div>