<table class="table table-hover" >
			<thead>
				<tr>
					<th style="width: 40%;">
						Title
					</th>
					<th>
						Subtitle
					</th>
					<th>Action</th>
				</tr>

			</thead>
		<% if @boards.any? %>
		  <% @boards.all.each do |board| %>
		  		<tr style="background-color:#f2f2f2;">
				    <td><%= link_to board.title, edit_board_path(board), class: "fill-div" %></td>
				    <td>
				    	<%= board.subtitle %>
				    </td>
				    <td>
						<button class="btn btn-danger" data-toggle="modal" 
						   data-target="#<%= board.id %>deleteModal">
						   <i class="fa fa-trash-o"></i> Delete
						</button>
					</td>
				</tr>
		
			<!-- Modal -->
				<div class="modal fade" id="<%= board.id%>deleteModal" tabindex="-65" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				        <h4 class="modal-title" id="myModalLabel">Delete Board</h4>
				      </div>
				      <div class="modal-body">
				       	Are you sure?
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				        <%= link_to board, method: :delete, remote: true, class: "btn btn-danger" do%>
												 Delete
						<% end %>
				      </div>
				    </div>
				  </div>
				</div>
		  <% end %>
		<% else %>
			<tr style="background-color:#f2f2f2;">
				<td>You have no board.</td>
				<td> </td>
				<td> </td>
			</tr>
		<% end %>
</table>