<h1 id="page_title"><%= @board.title %></h1>
<p id="notice"><%= notice %></p>
<ol class="breadcrumb">
  <li><%= link_to 'Home', boards_path %></li> /
  <li><%= link_to @board.title, @board %></li>
</ol>
<div class="container-post-new-message">
	<%= link_to new_board_topic_url(@board), class: "btn btn-primary" do %>
		<i class="icon-plus-sign icon-white"></i> Create Topic 
	<% end %>
</div> 
<table class = "table">
  <tr>
    <th style="width: 650px;">Topic / Author</th>
    <th style="width: 100px;">Last Reply</th>
    <th>Number of Replies</th>
  </tr>
<% @topics.each do |topic| %>
  <tr>
    <td>
      <div id="post-link"><%= link_to topic.title, board_topic_path(:board_id => @board, :id =>  topic), id: "post-link"%></div>
      <div id="user-name-post-index"><span>by <%= link_to topic.user.name, topic.user %></span></div>
    </td>
    <td>
      <% comment = topic.comments.last %>
      <% if comment%>
      	<span class="timestamp">
    		<%= comment.created_at.time.localtime.to_formatted_s(:db) %>
  		</span>
      <% else %>
      	<span class="timestamp">
    	 	<%= topic.created_at.time.localtime.to_formatted_s(:db) %>
  		</span>
      <% end %>

    </td>
    <td>
      <%=  topic.comments.count%>
    </td>
  </tr>
<% end %>
</table> 
<%= link_to new_board_topic_url(@board), class: "btn btn-primary" do %>
		<i class="icon-plus-sign icon-white"></i> Create Topic 
	<% end %>