<h1 id="page_title"><%= @board.title %></h1>
<p id="notice"><%= notice %></p>
<ol class="breadcrumb">
  <li><%= link_to 'Home', boards_path %></li>
  <li><%= link_to @board.title, @board %></li>
</ol>


<div class="container-post-new-message">
	<%= link_to new_board_topic_url(@board), class: "btn btn-primary", style: "float: left;" do %>
		<i class="fa fa-plus-square"></i> Create Topic 
	<% end %>

	<!-- <div class="navbar-form navbar-left" role="search" style="margin-left: 12em; margin-bottom: 0px;height: 35px;margin-top: 0px;">
	        <div class="form-group">
				<%= form_tag search_path ,:method => "get", id: "search-form" do %>
  					<%= text_field_tag :search, params[:search], placeholder: "Search Topics", class: "form-control", style:"width:25em;" %>
  			</div>
  				<%= submit_tag "Search", :name => nil, class: "btn btn-default", style:"margin-top: -15px; margin-left: 5px; padding: 2px 5px 2px 5px; width: 75px;" %>
				<% end %>
	</div> -->


	<div style="margin: 0px; float: right;">
		<%= will_paginate @topics, renderer: BootstrapPagination::Rails %>
	</div>
</div>

  				
<table class = "table">
  <tr>
    <th style="width: 650px;"><i class="fa fa-list-ul"></i> Topic / Author</th>
    <th style="width: 100px;">Last Reply</th>
    <th style="text-align: center;">Number of Replies</th>
  </tr>
<% @topics.each do |topic| %>
  <tr>
    <td>
      <div id="post-link"><%= link_to topic.title, board_topic_path(:board_id => @board, :id =>  topic), id: "post-link"%></div>
      <div id="user-name-post-index"><span>by <%= link_to topic.user.name, topic.user %></span></div>
    </td>
    <td>
      <% comment = topic.comments.last %>
      <% if comment%>
      	<span class="timestamp">
    		<%= comment.created_at.time.localtime.to_formatted_s(:db) %>
  		</span>
      <% else %>
      	<span class="timestamp">
    	 	<%= topic.created_at.time.localtime.to_formatted_s(:db) %>
  		</span>
      <% end %>

    </td>
    <td style="text-align: center;">
      <%=  topic.comments.count%>
    </td>
  </tr>
<% end %>
</table> 
<div style="margin: 0px; float: right;">
		<%= will_paginate @topics, renderer: BootstrapPagination::Rails %>
</div>
<%= link_to new_board_topic_url(@board), class: "btn btn-primary" do %>
		<i class="fa fa-plus-square"></i> Create Topic 
	<% end %>