<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
    	<div id="logoimg">
    		<%= link_to image_tag("mahidol_logo.png", alt: "Mahidol University Internation College"),  root_path %>
    	</div>
      <%= link_to "MUIC", root_path, id: "logo" %>

      <nav>
        <ul class="nav pull-right">
          <li><%= link_to root_path do %>
				<i class="icon-home icon-white"></i> Home
			<% end %>
          </li>
          <li><%= link_to "Tags", '#' %></li>
          <li><%= link_to "Help", help_path %></li>
          <% if signed_in? %>
          	<!-- admin only.. need to put if only admin later !!-->
          	<% if current_user.admin? %>
          		<li><%= link_to "Users", users_path %></li>
          	<% end %>
          	<!-- admin only.. need to put if only admin later !!-->
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              		Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>